.wp-block-in-2019-advantages {
	padding: 13px 0;

	&__image {
		margin-bottom: 12px;
	}

	&__block {
		margin-bottom: 18px;
		font-family: $secondary-font;
		font-size: 36px;
		font-weight: bold;
		line-height: 1.2;
		color: $grey2;
	}

	&__text {
		font-family: $secondary-font;
		font-size: 16px;
		line-height: 1.2;
		text-transform: uppercase;
		color: $grey2;
	}
}
