/**
 * #.# Common SCSS
 *
 * Can include things like variables and mixins
 * that are used across the project.
*/

// Required
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

// Optional
@import "~bootstrap/scss/bootstrap-grid.scss";

// Colors.
$white: #fff;

// Fonts
$default__fonts: 'Roboto Condensed', sans-serif;

.align-middle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 0;
  padding-bottom: 0;
}
