/**
 * #.# Common SCSS
 *
 * Can include things like variables and mixins
 * that are used across the project.
*/

// Required
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

// Optional
@import "~bootstrap/scss/bootstrap-grid";
@import "~bootstrap/scss/utilities";

// Colors.
$white: #fff;
$black: #072133;

// Fonts
$default__fonts: 'Roboto Condensed', sans-serif;

.align-middle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 0;
  padding-bottom: 0;
}

img {
  max-width: 100%;
  height: auto;
  padding: .25rem;
}

h2 {
  font-size: 2.25rem;
  margin-bottom: 2.29rem;
}
