// Colors
$very-light-blue: #ebeef3;
$nice-blue: #0e76bc;
$nice-blue-two: #0c68a5;
$black: #072133;
$rouge: #bf1e2e;
$grey: #d7d7d7;

$headerBg: $very-light-blue;
$headerLogoBg: $nice-blue;
$phoneColor: $nice-blue-two;
$menuColor: $black;
$menuAccountColor: $rouge;
$headerToggleBg: $nice-blue;
$cart: $rouge;
$footerMenu: $nice-blue-two;
$footerBottomBg: $very-light-blue;
$footerCopyright: $nice-blue-two;
$employeeTitle: $black;
$faqText: $grey;
$faqBg: $nice-blue-two;

// Fonts
$default-font: 'Roboto', sans-serif;
$secondary-font: 'Roboto Condensed', sans-serif;

// Sizing
$content-width: 1170px;
$grid-gutter-width: 30px;

$container-max-widths: (
	sm: 540px,
	md: 720px,
	lg: 960px,
	xl: $content-width,
);
