@import '~bootstrap/scss/bootstrap-grid.scss';
@import './fonts';

.editor-post-title__block.wp-block {
    max-width: $content-width;

    .editor-post-title__input {
        font-family: $default-font;
    }
}

.editor-block-list__layout.block-editor-block-list__layout {
    overflow-x: hidden;
}

.wrapper {
    @include base-style;
    max-width: $content-width;
    margin: 0 auto;
    padding: 0 15px;
}

.wp-block {
    max-width: $content-width;

    &[data-align='wide'] {
        max-width: none;
    }
}
