@import './fonts';
@import '~bootstrap/scss/functions.scss';
@import '~bootstrap/scss/variables.scss';
@import '~bootstrap/scss/mixins.scss';
@import '~bootstrap/scss/utilities';
@import '~bootstrap/scss/bootstrap-grid.scss';
@import '~bootstrap/scss/navbar.scss';
@import '~bootstrap/scss/dropdown.scss';
@import '~bootstrap/scss/transitions.scss';
@import './layouts/**/*.scss';
@import './blocks/**/frontend.scss';

html,
body {
	min-height: 100vh;
}

body {
	min-width: 320px;

	@include base-style();
}

.theme-ivannikitin-theme {

	.site {
		display: flex;
		flex-direction: column;
		min-height: 100vh;
	}

	.site-content {
		flex-grow: 1;
	}
}
