/** 
 * Kanban
 * Оформление кандан-доски
 * Делает отдельным файлом, чтобы загружать его по мепер необходимости в админку и на frontend
 */
.kbc-body-wrap
{
	overflow-x: scroll;
}
.kbc-col-wrap
{
	width: 25%;
}
.kbc-li-text
{
	overflow: hidden;
	width: 100%;
	background: #fafaea;
	white-space: normal;
}
.kbc-add-more
{
	bottom: 5px;
}