.wp-block-in-2019-carousel {
  .item {
    background: $white;
    border: 1px solid $grey2;
    padding-top: rem(81px);
    padding-bottom: rem(48px);
    color: $black2;

    &__title {
      margin: 0 0 rem(15px) 0;
      padding-bottom: rem(18px);
      border-bottom: 1px dotted $black2;
    }

    &__description {
      margin-bottom: rem(30px);
    }

    &__price {
      text-align: center;
      text-transform: uppercase;
      font-stretch: condensed;
      font-size: rem(26px);
      font-family: "RobotoCondensed-Regular", sans-serif;
      margin-bottom: rem(16px);
    }
  }
}

.owl-carousel-custom {
  $height: 483px;
  margin-bottom: rem(35px);

  .owl-stage-outer {
    margin-bottom: rem(62px);
    padding: rem(25px) 0;
  }

  .owl-dots {
    text-align: center;

    .owl-dot {
      width: 16px;
      height: 16px;
      padding: 0;
      background: $white;
      border-radius: 50%;
      border: 1px solid $grey2;
      vertical-align: middle;
      transition: all 0.15s ease;

      &:hover {
        color: $blue;
        border-color: $blue;
      }

      &.active {
        width: 25px;
        height: 25px;
        border-color: $blue;
        background: $blue;
      }
    }
  }

  .owl-item {
    padding: rem(81px) rem(28px) rem(68px);
    border: 1px solid $grey2;
    min-height: $height;

    .item {
      &__title {
        font-size: rem(24px);
        font-family: "RobotoCondensed-Regular", sans-serif;
        margin-top: 0;
        border-bottom: 1px dotted $black2;
      }

      &__description {
        margin-bottom: rem(28px);
      }

      ul {
        font-size: rem(16px);
      }

      &__price {
        text-align: center;
        font-size: rem(24px);
        font-stretch: condensed;
        font-family: "RobotoCondensed-Regular", sans-serif;
        color: $grey;
      }

      &__link-more {
        display: block;
        color: $grey;
        text-align: center;
        text-decoration: underline;
        text-transform: uppercase;
      }

      &__order {
        display: inline-block;
        text-transform: uppercase;
        color: $white;
        font-family: "RobotoCondensed-Regular", sans-serif;
        margin: 12px auto 0;
        padding: rem(14px) rem(34px);
        background-color: $grey;
        text-decoration: none;
      }
    }
  }

  .owl-item.center {
    box-shadow: 0px 3px 7px 0 rgba(0, 0, 0, 0.35);
    position: relative;
    z-index: 1;
    background: $blue;
    border-color: $blue;
    min-height: $height + 48px;
    transform: translateY(-20px);

    .item {
      border: 1px solid $blue;
      color: $white;

      &__title {
        color: $white;
        border-bottom: 1px dotted $white;
      }

      &__price {
        color: $white;
        margin-bottom: rem(30px);
      }

      &__link-more {
        color: $white;

        &:hover {
          text-decoration: none;
        }
      }

      &__order {
        color: $blue;
        background: $white2;
        transition: all 0.15s ease-in-out;

        &:hover {
          background-color: $white;
        }
      }
    }
  }
}
