.wp-block-in-2019-item-list {
	margin-bottom: 15px;
	padding-left: 23px;

	&.wp-block-in-2019-item-list-error {
		background: url(../img/x.svg) no-repeat left top 2px / 16px;
	}

	&.wp-block-in-2019-item-list-succeses {
		background: url(../img/v.svg) no-repeat left top 2px / 20px;
	}

	&:last-child {
		margin-bottom: 0;
	}
}
