.wp-block-in-2019-service {
	padding-top: 48px;
	padding-bottom: 20px;
	min-height: 285px;
	text-align: center;
	color: #fff;

	a {
		margin-top: 1.2rem;
		display: block;
		font-family: $secondary-font;
	}
}
