#breadcrumbs {
	font-family: "Roboto Condensed", sans-serif;
	margin: 4px 15px 0 7px;

	a {
		display: inline-block;
		text-decoration: none;
		margin: 0 8px;
		padding: 3px 0;
	}

	span.breadcrumb_last {
		margin-left: 8px;
		padding: 3px 0;
	}
}
