.site-footer {
	padding: 0 0 15px;

	nav {
		background-color: $blue2;
		color: $white;

		a {
			color: $white;
			display: block;
			font-size: 18px;
			text-decoration: none;
			padding: 11px 20px 9px;

			&:hover {
				color: $white;
			}
		}
	}
}
