button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
	display: inline-block;
	background: $blue;
	color: $white;
	padding: 0.538em 1.077em;
	font-family: inherit;
	font-size: 0.923em;
	font-weight: 400;
	margin: 0;
	border: 0;
	cursor: pointer;
	line-height: 1.65;
	appearance: none;
	-webkit-appearance: none;
	-webkit-font-smoothing: inherit;
	text-decoration: none;
	max-width: 100%;
	transition: 0.15s all ease;
	border-radius: 3px;

	&:hover {
		background: $primary;
	}

	&:active,
	&:focus {
		background: $primary;
	}
}
