.wp-block-in-2019-carousel {
	.item {
		background: $white;
		border: 1px solid $grey2;
		padding-top: rem(81px);
		padding-bottom: rem(48px);
		color: $black2;

		&-title-wrapper {
			margin: 0 0 rem(15px) 0;
			padding-bottom: rem(18px);
			border-bottom: 1px dotted $black2;
			display: flex;
			justify-content: space-between;
		}

		&__gift {
			padding-top: rem(58px);
			font-stretch: condensed;
			color: $grey;
			font-family: 'RobotoCondensed-Regular', sans-serif;
			max-width: 83px;
			background: url(../img/gift-grey.svg) no-repeat left top;
		}

		&__description {
			margin-bottom: rem(30px);
		}

		&__price {
			text-align: center;
			text-transform: uppercase;
			font-stretch: condensed;
			font-size: rem(26px);
			font-family: 'RobotoCondensed-Regular', sans-serif;
			margin-bottom: rem(16px);
		}
	}
}

.owl-carousel-custom {
	$height: 483px;
	margin-bottom: rem(35px);

	.owl-stage-outer {
		margin-bottom: rem(62px);
		padding: rem(25px) 0;
	}

	.owl-dots {
		text-align: center;

		.owl-dot {
			width: 16px;
			height: 16px;
			padding: 0;
			background: $white;
			border-radius: 50%;
			border: 1px solid $grey2;
			vertical-align: middle;
			transition: all 0.15s ease;

			&:hover {
				color: $blue;
				border-color: $blue;
			}

			&.active {
				width: 25px;
				height: 25px;
				border-color: $blue;
				background: $blue;
			}
		}
	}

	.owl-item {
		padding: rem(81px) rem(28px) rem(68px);
		border: 1px solid $grey2;
		min-height: $height;

		.item {
			&-title-wrapper {
				margin: 0 0 rem(15px) 0;
				padding-bottom: rem(18px);
				border-bottom: 1px dotted $black2;
				display: flex;
				justify-content: space-between;
				align-items: flex-end;
			}

			&__gift {
				padding-top: rem(58px);
				font-stretch: condensed;
				color: $grey;
				font-family: 'RobotoCondensed-Regular', sans-serif;
				max-width: 70px;
				background: url(../img/gift-grey.svg) no-repeat left top;
			}

			&__title {
				font-size: rem(24px);
				font-family: 'RobotoCondensed-Regular', sans-serif;
				margin-top: 0;
			}

			&__description {
				margin-bottom: rem(28px);
			}

			ul {
				font-size: rem(16px);
			}

			&__price {
				text-align: center;
				font-size: rem(24px);
				font-stretch: condensed;
				font-family: 'RobotoCondensed-Regular', sans-serif;
				color: $grey;
			}

			&__link-more {
				display: block;
				color: $grey;
				text-align: center;
				text-decoration: underline;
				text-transform: uppercase;
			}

			&__order {
				display: inline-block;
				text-transform: uppercase;
				color: $white;
				font-family: 'RobotoCondensed-Regular', sans-serif;
				margin: 12px auto 0;
				padding: rem(14px) rem(34px);
				background-color: $grey;
				text-decoration: none;
			}
		}
	}

	.owl-item.center {
		box-shadow: 0px 3px 7px 0 rgba(0, 0, 0, 0.35);
		position: relative;
		z-index: 1;
		background: $blue;
		border-color: $blue;
		min-height: $height + 48px;
		transform: translateY(-20px);

		.item {
			border: 1px solid $blue;
			color: $white;

			&__title {
				color: $white;
			}

			&-title-wrapper {
				border-bottom-color: $white;
			}

			&__gift {
				color: $white;
				background: url(../img/gift-white.svg) no-repeat left top;
			}

			&__price {
				color: $white;
				margin-bottom: rem(30px);
			}

			&__link-more {
				color: $white;

				&:hover {
					text-decoration: none;
				}
			}

			&__order {
				color: $blue;
				background: $white2;
				transition: all 0.15s ease-in-out;

				&:hover {
					background-color: $white;
				}
			}
		}
	}
}

.wp-block-in-2019-carousel-description {
	.carousel-description {
		&-wrapper {
			display: grid;
			grid-template-columns: 3fr minmax(170px, 1fr);
			grid-column-gap: rem(80px);
			background: $blue;
			color: $white;
			padding: rem(41px) rem(39px);
			margin-top: rem(94px);

			@media (max-width: 768px) {
				grid-template-columns: 1fr;
				grid-row-gap: rem(20px);
				padding: rem(20px);
			}
		}

		&-title {
			font-size: rem(24px);
			font-stretch: condensed;
			color: $white;
			margin: 0 0 rem(23px) 0;
		}

		&-item:nth-child(2) {
			text-align: center;
		}

		&-price {
			font-family: 'RobotoCondensed-Regular', sans-serif;
			font-size: rem(24px);
			font-stretch: condensed;
			color: $white;
			margin-bottom: rem(20px);
		}

		&-link,
		&-link a {
			color: $white2;
			text-transform: uppercase;
			text-decoration: underline;
			cursor: pointer;

			&:hover {
				text-decoration: none;
			}
		}

		&-link {
			margin-bottom: rem(12px);
		}

		&-button a {
			display: inline-block;
			padding: rem(13px) rem(20px);
			background-color: $white2;
			color: $blue;
			font-stretch: condensed;
			text-transform: uppercase;
			font-family: 'RobotoCondensed-Regular', sans-serif;
			text-decoration: none;
			transition: all 0.15s ease-in-out;

			&:hover,
			&:focus {
				background-color: $white;
			}
		}
	}
}

[class*='wp-block-in-2019-what-enter-item-'] {
	display: none;

	&.active {
		display: block;
	}
}

.wp-block-in-2019-what-enter {
	border: 2px solid $blue;
	padding-top: rem(73px);

	&__title {
		color: $blue;
		font-family: 'RobotoCondensed-Regular', sans-serif;
		margin: 0 0 rem(48px);
		font-size: rem(24px);
		font-stretch: condensed;
		text-transform: uppercase;
		text-align: center;
	}
}
