[class*="wp-block-in-2019-section"],
[class*="wp-block-in-2019-container"],
[class*="wp-block-in-2019-row"],
[class*="wp-block-in-2019-col"] {
    padding-top: 30px;
    position: relative;
    border: 1px solid rgba(124, 184, 224, 0.5);
}

.wp-block-in-2019-section > .editor-inner-blocks > .editor-block-list__layout {
    margin: 0;
}