.sticky {
	display: block;
}

.post,
.page {
	// margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	// margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.social {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid $grey;
	z-index: 1;

	@media (max-width: 991.98px) {
		flex-direction: column-reverse;
		align-items: flex-start;
	}

	&__list {
		max-width: 285px;
		text-align: center;
		background: $red;
		display: flex;
		align-items: center;

		@media (max-width: 991.98px) {
			max-width: 100%;
			width: 100%;
		}

		a {
			display: inline-block;
			color: $white;
			font-size: 17px;
			padding: 5px;
			margin: 0 11px;
			text-decoration: none;
		}
	}
}

.home .social {
	position: absolute;
	right: 0;
	border-bottom: 0;
}

.entry-title,
.page-title {
	font-family: 'RobotoCondensed-Regular', sans-serif;
	font-size: 36px;
	font-stretch: condensed;
	color: $black;
}

body:not(.home) .content-area {
	margin-top: 40px;
	margin-bottom: 40px;
}
